@model Usuarios
@{ ViewData["Title"] = "Confirmação apagar o contato"; }


<div class="text-center mt-3">
    <h3>Realmente deseja apagar o contato de @Model.Nome?</h3>

    <div class="btn-group" role="group">
        <a class="btn btn-light btn-lg" role="button" asp-controller="Registrar" asp-action="PaginaAdm">Cancelar exclusão</a>
        <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    </div>
</div>