@{
    Layout = "_Layout Deslogada";
    ViewData["Title"] = "Pagina Restrita";
}

<p>Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Login" asp-action="Index">Clique aqui para voltar pagina inicial</a></p>