@model LoginModel
@{
    Layout = "_Layout Deslogada";
    ViewData["Title"] = "Login";

}

<form asp-controller="Login" asp-action="Entrar" method="post">
    <section class="vh-100 bg-image"
             style="background-image: url('/Image/cafe.png'); ">

        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h3>Web Café & Eventos</h3>

                                <div>
                                    @if (TempData["MensagemSucesso"] != null)
                                    {<div class="alert alert-success" role="alert">
                                            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                                            @TempData["MensagemSucesso"]
                                        </div>
                                    }

                                    @if (TempData["MensagemErro"] != null)
                                    {<div class="alert alert-success" role="alert">
                                            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                                            @TempData["MensagemErro"]
                                        </div>
                                    }
                                </div>

                                <div class="form-outline mb-4">
                                    <label>Email</label>
                                    <input type="text" asp-for="Email" class="form-control form-control-lg" id="email" />
                                    @Html.ValidationMessageFor(x => x.Email)
                                </div>

                                <div class="form-outline mb-4">
                                    <label>Senha</label>
                                    <input type="password" asp-for="Senha" class="form-control form-control-lg" id="senha" />
                                    @Html.ValidationMessageFor(x => x.Senha)
                                </div>

                                <div class="btn-group" role="group">
                                    <a class="btn btn-light btn-lg" role="button" asp-controller="Usuario" asp-action="Registrar">Registrar</a>
                                    <button type="submit" class="btn btn-warning btn-lg ms-2">Login</button>
                                </div>
                                <p class="=mb-4 text-sm-left mx-auto">
                                    Esqueceu sua senha?
                                    <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient font-weight-bold">Redefinir senha</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

