@model CafeModel
@{ ViewData["Title"] = "Confirmação apagar o cafe"; }


<div class="text-center mt-3">
    <h3>Realmente deseja apagar o cafe de @Model.Organizador?</h3>

    <div class="btn-group" role="group">
        <a class="btn btn-light btn-lg" role="button" asp-controller="Cafe" asp-action="Index">Cancelar exclusão</a>
        <a class="btn btn-danger" role="button" asp-controller="Cafe" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    </div>
</div>