@using app_cadastro.Enums;
@model CafeModel
@{
    ViewData["Title"] = "editar cafe";

}


<div class="text-center mt-3">
    <h3>Realmente deseja alterar o cafe?</h3>

</div>
<div id="overlay" class="overlay container">
    <div class="container">
        @if (TempData["MensagemSucesso"] != null)
        {<div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
                @TempData["MensagemSucesso"]
            </div>
        }

        @if (TempData["MensagemErro"] != null)
        {<div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="btn btn-danger btn-close btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close"></button>
                @TempData["MensagemErro"]
            </div>
        }
    </div>

    <form asp-controller="Cafe" asp-action="Alterar" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label>Setor*</label>
            <input type="text" asp-for="Cafe" class="form-control">

        </div>

        <div class="wrap-input100 validate-input">
            <span class="label-input100"> Data do café*</span>
            <input type="date" asp-for="DataCafe" class="input100" placeholder="DD/MM/AAAA">
            <span class="focus-input100"></span>
        </div>

        <br />


        <div class="btn-group" role="group">
            <a class="btn btn-light" role="button" asp-controller="Cafe" asp-action="Index">Voltar</a>
            <button type="submit" class="btn btn-warning ms-2">Continuar</button>
        </div>
    </form>
</div>
