@model EventoModel
@{ ViewData["Title"] = "Confirmação apagar o evento"; }


<div class="text-center mt-3">
    <h3>Realmente deseja apagar o evento de @Model.Organizador?</h3>

    <div class="btn-group" role="group">
        <a class="btn btn-light" role="button" asp-controller="Eventos" asp-action="MeusEventos">Cancelar exclusão</a>
        <a class="btn btn-danger" role="button" asp-controller="Eventos" asp-action="Apagar" asp-route-id="@Model.Id">Confirmar exclusão</a>
    </div>
</div>