body {
    font-family: Arial, Helvetica, sans-serif;
}
#container-button-close {
    display: flex;
    justify-content: flex-end;
}

#container-button-close button {
    margin-right: 5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.Provide sufficient contrast against white background 
{
  color: #0366d6;
}

.btn-primary {
    color: #c0c0c0;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/*offcanvas Menu*/

.offcanvas.CSS

.sidebar header {
    position: relative;
}
/*Contorno dos links do menu*/
.sidebar-nav ul li a {
    font-size: 26px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}

/*Contorno dos links do menu*/
    .sidebar-nav ul li a:hover {
        background-color: #b3fcf9;
        border-radius: 8px;
    }

/*Linhas de divisão do menu*/
.sidebar-nav .offcanvas {
    width: 300px;
    border: medium;
    color: salmon;    
}

/*Tratamento das fontes do menu*/
.sidebar-nav .offcanvas ul li a span {
    font-size: 15px;
    color:black;
    position: relative;
    top: -4px;
    transition: 0.5s;
}

.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;

}

.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;    
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

.navbar-toggler {
    color: black;
    border-color: black;
}

.field-validation-error {
    color: #e01d1d;
}

.close-alert{
    position:absolute;
    right:-10px;
    top:-15px;
    border-radius:15px;
    width:30px;
    height:31px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

/*Imagem de login*/
.background-image {
    background-image: url('/Image/Bakcground-Cafe.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#titulo-login h2{
    color: white;
    margin-bottom: 25px;
}

h2 {
    font-family:Arial;
}
.imagem-detran-login {
    width: 130px;
    justify-content: center;
    /*margin-top: 20px;*/
    margin-block: -60px;
    margin-bottom: 0px;
}

/*Imagem de registro*/
.background-image-registrar {
    /*background-image: url('/image/wepik-photo-mode-2022927-83958.png');*/
    background-image: url('/image/wepik-photo-mode-2022928-82540.png');
    /*background-image: url('/image/wepik-photo-mode-2022928-9589.png');*/
    background-size: cover;
    background-repeat: no-repeat;
}

/*Imagem de Redefinir senha*/
.background-image-RedefinirSenha {
    background-image: url('/Image/coffee-beans-close-up.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.background-image-home {
    /*background-image: url('/Image/Bakcground-Cafe.png');*/
    /*background-size: cover;
    background-repeat: no-repeat;*/
    width: 100%;
    /*background-size: cover;*/
}


/*Imagens do carrosel Home*/

.Imagem-carrosel {
    background-image: url('/Image/Bakcground-Cafe.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-control-lg {
    border-radius: 40px !important;
    font-size: 20px;
}

.inouteItem {
    display: block;
    font-size: 22px;
    line-height: 1.2;
    padding: 0px 19px;
}

 
.row-registro {
    display: flex;
    -ms-flex-wrap: wrap;
     flex-wrap: wrap; 
   /* margin-right: -132px;
    margin-left: -135px;*/
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 31px;
    background: rgb(0 0 0/ 90%);
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    text-align: center;
}
.card-body-login {

}

.card-home {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 0.25rem;
    background: rgb(0 0 0 / 10%);
    background: rgb(255 255 255 / 20%);
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    color: white;
}


.card-registro {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 31px;
    background: rgb(0 0 0/ 90%);
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    font-size: 10px !important;
}

.card-RedefinirSenha {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 31px;
    background: rgb(0 0 0/ 90%);
    /*background: rgb(255 255 255 / 20%);*/
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
}

.login-title{
    color:white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
    font-weight: 600;
    text-shadow:3px 3px black;
}

.label-login {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 18px;
    text-shadow: 1px 1px black;
    margin-top: 13px;
}

.dp-login{
    display:flex;
}

.registrar-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.text-register {
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
}

.text-RedefinirSenha {
    text-decoration: none;
    color: white;
    transition: 0.4s ease;
    text-shadow: 3px 3px black;
}
.text-register:hover {
    text-decoration: inherit;
    color: #b9b9b9;
}


.text-register-RedefinirSenha:hover {
    text-decoration: inherit;
    color: #ff8b07;
}

.text-register-RedefinirSenha {
    text-decoration: none;
    color: #d1d1c2;
    transition: 0.4s ease;
}

.label-login-Esqueceu-a-Senha {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
    font-size: 15px;
    text-shadow: 2px 2px black;
    text-align: center;
}


.btn-warning {
   /* color: #ffffff;*/
    background-color: #e9cd05;
    border-radius: 40px;
    border: none;
}

.input100 {
    display: block;
    width: 100%;
    height: 46px;
    background: white;
    color: #c3c3c3;
    line-height: 1.2;
    padding: 0px 30px;
    font-size:18px;
}

    .input100::placeholder {
        color: #c9c5c5;
        opacity: 1;
    }

.fechar {
    position: absolute;
    width: 25px;
    right: -15px;
    top: -60px;
    text-align: center;
    line-height: 25px;
    margin-top: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid rgb(255 255 255 / 20%);
    border-radius: 31px;
    background: rgb(0,0,0,0.257);
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
}
.modal-content {
    border: 1px solid rgb(255 255 255 / 20%) !important;
    border-radius: 31px !important;
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000 !important;
    display: flex !important;
    padding: 20px !important;
}

/*Modal  Editar da lista de eventos*/

.modal-editar-evento {
    border: 1px solid rgb(255 255 255 / 20%) ;
    border-radius: 31px !important;
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000 ;
    display: flex ;
    padding: 7px ;
    position: relative;
    flex-direction: column;
    width: 530px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    width: 140% !important;
}


.button-senha-olho {
    position: relative;
    border-radius: 31px;
    font-size: 18px;
    left: 196px;
    top: -36px;
    border: 1px solid rgb(255 255 255 / 20%);
}

.Titulo-informacao-usuario {
    text-align: center;
    margin-top: 25px;
    font-family: Poppins-SemiBold;
    font-size: 18px;
/*    color: #113569;*/
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    margin-bottom: 8px;
    border-radius: 48px;
  /*  background-color: #ffa500;*/
    /*color: lightyellow;*/
}

.carousel-completo {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.dropdown-menu {
    min-width: -webkit-fill-available !important;
}

.logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-details i {
        font-size: 40px;
        color: #000000;
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
}

.logo-details .logo_name {
        font-size: 30px;
        color: #000000;
        font-weight: 600;
        transition: 0.3s ease;
        transition-delay: 0.1s;
}

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

    .sidebar.close {
        width: 78px;
    }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

        .sidebar .logo-details i {
            font-size: 30px;
            color: #fff;
            height: 50px;
            min-width: 78px;
            text-align: center;
            line-height: 50px;
        }

        .sidebar .logo-details .logo_name {
            font-size: 22px;
            color: #fff;
            font-weight: 600;
            transition: 0.3s ease;
            transition-delay: 0.1s;
        }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

        .sidebar .nav-links li:hover {
            background: #046b94;
        }

        .sidebar .nav-links li .iocn-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .sidebar.close .nav-links li .iocn-link {
        display: block;
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .sidebar .nav-links li a .link_name {
            font-size: 15px;
            font-weight: 400;
            color: #fff;
            transition: all 0.4s ease;
        }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: #1d1b31;
        display: none;
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: #fff;
        font-size: 13px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li .sub-menu a:hover {
        opacity: 1;
    }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar .profile-details {
        position: fixed;
        bottom: 0;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1d1b31;
        padding: 12px 0;
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details {
        background: none;
    }

    .sidebar.close .profile-details {
        width: 78px;
    }

    .sidebar .profile-details .profile-content {
        display: flex;
        align-items: center;
    }

    .sidebar .profile-details img {
        height: 52px;
        width: 52px;
        object-fit: cover;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: #1d1b31;
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details img {
        padding: 10px;
    }

    .sidebar .profile-details .profile_name,
    .sidebar .profile-details .job {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        white-space: nowrap;
    }

    .sidebar.close .profile-details i,
    .sidebar.close .profile-details .profile_name,
    .sidebar.close .profile-details .job {
        display: none;
    }

    .sidebar .profile-details .job {
        font-size: 12px;
    }

.home-section {
    position: relative;
    /*background: #E4E9F7;
    height: 100vh;*/
    /*left: 260px;
    width: calc(100% - 260px);*/
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
}

/*.sidebar.close ~ .home-section {
    left: 78px;
    width: calc(100% - 78px);
}*/

    .home-section .home-content {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px 20px;
    }

    .home-section .home-content .bx-menu,
    .home-section .home-content .text {
        color: white;
        font-size: 35px;
    }

    .home-section .home-content .bx-menu {
        margin: 0 15px;
        cursor: pointer;
        left: 210px;
        position: absolute;
        transition: all 0.5s ease;
    }

    .home-section .home-content .bx-menu.close {
        left: 15px;
    }

    .home-section .home-content .text {
        font-size: 26px;
        font-weight: 600;
    }

/*body {    

    width: 100%;
    background-size: cover;
}*/

.bx-menu {
    background-color: #00000066;
    border-radius: 10px;
}


@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

        .sidebar.close {
            width: 0;
        }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close ~ .home-section {
        width: 100%;
        left: 0;
    }
}

.improviso{
   width: 400px;
}

.DataAniversario{
    width: 200px;
}