@{
    ViewData["Title"] = "Lista de Itens";
}


<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-warning ms-2 ml-2 mt-2" role="button" asp-controller="Aniversariantes" asp-action="CriarItem">Adicionar Item</a>
    <a class="btn btn-light ml-2 mt-2" role="button" asp-controller="Home" asp-action="Index">Voltar</a>
</div>

<br />

<div class="text-center">
    <img style="" src="~/Image/lista.gif" width="150px" class="" alt="">
</div>

<section class="container mt-2">
    <div class="col-x-12">
        <div class="box">
            <div class="text-center box-header">
                <h2 class="box-title">Lista de Itens</h2>
            </div><!-- /.box-header -->
            <div class="box-body col-x-12">

                <div id="list_header">
                    <div id="msgError" class="alert alert-danger alert-dismissable" style="display: none;">
                        <i class="fa fa-ban"></i>
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <b>Erro</b>
                        <span id="erroMsg"></span>
                    </div>
                </div>

                <table id="list_items" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</section><!-- /.content -->

<div id="modalExclusao" style="text-align:center">
    <div class="modal fade" id="modal-reativar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação de Exclusão</h4>

                </div>
                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row">
                        Tem certeza que deseja Excluir o item?
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-confirmar-reativar" class="btn btn-danger pull-right">Excluir</button>
                    <button type="button" class="btn btn-light pull-left" onclick="fecharModal();">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalEditar" style="text-align:center">
    <div class="modal fade" id="modal-reativar-editar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Confirmação de Edição</h4>

                </div>
                <div class="modal-body" style="padding-bottom: 0px; text-align: center; font-size: 18px;">
                    <div class="row">
                        Tem certeza que deseja Editar o item?
                    </div>
                </div>

                <div class="wrap-input100 validate-input" id="inouteItem" data-validate="Name is required">
                    <input class="inouteItem" type="text" id="ItemEditar" name="ItemEditar">
                    <span class="focus-input100"></span>
                </div>


                <div class="modal-footer">
                    <button id="btn-confirmar-reativar" class="btn btn-secondary pull-right"  onclick="editarItem();">Editar</button>
                    <button type="button" class="btn btn-light pull-left" onclick="fecharModalEditar();">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn-confirmar-reativar').on('click', reativar);

        listar();
    });

    function listar() {
        $('#list_items').dataTable({
            'bPaginate': true,
            'bJQueryUI': true,
            'bProcessing': true,
            'bServerSide': true,
            "searching": true,
            'bDestroy': true,
            'sAjaxSource': `@Url.Action("ItensPagination", "Aniversariantes")`,
            'sServerMethod': 'POST',
            'aoColumns': [
                { 'mData': 'ide_item' },
                { 'mData': 'nome' },
                { 'mData': 'editar' },
                { 'mData': 'excluir' }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
                }
        });
    }

    function editarItem()
    {
        $('#msgError #erroMsg').html();
        $('item_form #msgError').hide();

        $.ajax({
            type: 'POST',
            data: {
                'Id': ide_item,
                'nomeItem': $('#ItemEditar').val(),
            },
            url: '@Url.Action("EditarItem", "Aniversariantes")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Edição efetuada com sucesso!!!!!!');
                    $('#modal-reativar').modal('hide');
                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error) {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function modalExclusao(ide_item) {
        $('#modal-reativar').modal('show');
        $('#btn-confirmar-reativar').attr('id-target', ide_item);
    }

    function modalEditar(ide_item) {
        $('#modal-reativar-editar').modal('show');
        $('#btn-confirmar-reativar').attr('id-target', ide_item);
    }

    function reativar() {
        let ide_item = $('#btn-confirmar-reativar').attr('id-target');

        $.ajax({
            type: 'POST',
            data: {
                'ide_item': ide_item,
            },
            url: '@Url.Action("ExcluirItem", "Aniversariantes")',
            success: function (result) {
                if (result.is_action) {
                    $('#msgSucess #sucessMsg').html('Exclusão efetuada com sucesso!!!');
                    $('#modal-reativar-editar').modal('hide');
                    listar();
                }
                else {
                    $('#msgError #erroMsg').html(result.error);
                }
            },
            error: function (error)
            {
                $('#msgError #erroMsg').html(result.error);
            },
            datatype: 'json'
        });
    }

    function fecharModal() {
        $('#modal-reativar').modal('hide');
    }

    function fecharModalEditar() {
        $('#modal-reativar-editar').modal('hide');
    }
</script>